{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="container">
  <h1 class="my-3">Events</h1>
  <div class="mb-3 d-flex flex-row gap-2">
    <a href="{{ path('app_event_new') }}" class="btn btn-primary">Create New</a>
    <a href="{{ path('app_event_type_index') }}" class="btn btn-secondary">Manage Event Types</a>
  </div>
  <div class="row row-cols-3 g-3">
    {% for event in events %}
    <div style="max-width: 19rem">
      <div class="card" style="min-height: 28rem">
        <img src="{{ event.image }}" class="card-img-top" alt="{{ event.name }}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ names[loop.index0] }}</h5>
          {# <h6 class="card-subtitle mb-2 text-body-secondary">{{ event.type.name }}</h6> #}
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ event.address.locationName }}</h6>
          <p class="card-text">{{ shortDescriptions[loop.index0] }}</p>
          <div style="flex-grow: 1;"></div>
          <div class="d-flex flex-row gap-2">
            <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-primary">Details</a>
            <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-success">Edit</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{# <table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>LocationName</th>
      <th>Description</th>
      <th>StartTime</th>
      <th>EndTime</th>
      <th>Image</th>
      <th>Capacity</th>
      <th>ContactEmail</th>
      <th>ContactPhoneNumber</th>
      <th>Url</th>
      <th>Type</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.id }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.address.locationName }}</td>
      <td>{{ shortDescriptions[loop.index0] }}</td>
      <td>{{ event.startTime ? event.startTime|date('Y-m-d H:i:s') : '' }}</td>
      <td>{{ event.endTime ? event.endTime|date('Y-m-d H:i:s') : '' }}</td>
      <td><img src="{{ event.image }}" alt="" width="150"></td>
      <td>{{ event.capacity }}</td>
      <td>{{ event.contactEmail }}</td>
      <td>{{ event.contactPhoneNumber }}</td>
      <td>{{ event.url }}</td>
      <td>{{ event.type.name }}</td>
      <td>
        <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
        <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="11">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table> #}

{% endblock %}