{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
<div class="container">
  <div class="d-flex flex-row justify-content-center">
    <div class="my-3 bg-body-secondary rounded" style="max-width: 50rem">
      <div>
        <img src="{{ event.image }}" alt="{{ event.name }}" class="rounded-top"
          style="width: 100%; height: auto; object-fit: cover">
      </div>
      <div class="p-3">
        <h1 class="mb-3">{{ event.name }}</h1>
        <p>{{ event.description|nl2br }}</p>
        <hr>
        <div class="d-flex flex-row gap-3 mb-2">
          <h4 class="text-secondary-emphasis" style="flex-basis: 8rem">Type:</h4>
          <h4 class="text-secondary-emphasis">{{ event.type.name }}</h4>
        </div>
        <div class="d-flex flex-row gap-3">
          <h4 class="text-secondary-emphasis" style="flex-basis: 8rem">Capacity:</h4>
          <h4 class="text-secondary-emphasis">{{ event.capacity }} people</h4>
        </div>
        <hr>
        <h2 class="mb-3">Event Date</h2>
        {% if (event.startTime|date('d M Y')) != (event.endTime|date('d M Y')) %}
        <p class="mb-2 text-secondary-emphasis h5">{{ event.startTime ? event.startTime|date('d M Y') : '' }}
          &ndash; {{
          event.endTime ?
          event.endTime|date('d M Y') : '' }}</p>
        {% else %}
        <p class="mb-2 text-secondary-emphasis h5">{{ event.startTime ? event.startTime|date('d M Y H:i') : '' }}
          &ndash; {{
          event.endTime ?
          event.endTime|date('H:i') : '' }}
        </p>
        {% endif %}
        <hr>
        <h2 class="mb-3">Event Location</h2>
        <h4 class="mb-3 text-secondary-emphasis">{{ event.address.locationName }}</h4>
        <p class="mb-1 ms-2"><i class="bi bi-geo-alt"></i>
          <span class="ms-2">
            {{ event.address.streetName }}{% if event.address.streetNumber != 0 %} {{ event.address.streetNumber }}{%
            endif %}, {{ event.address.zipCode }} {{ event.address.cityName }}, {{ event.address.countryName }}
          </span>
        </p>
        <p class="mb-1 ms-2"><i class="bi bi-telephone"></i> <a class="ms-2"
            href="tel:{{ event.contactPhoneNumber }}">{{
            event.contactPhoneNumber }}</a></p>
        <p class="mb-1 ms-2"><i class="bi bi-envelope"></i> <a class="ms-2" href="mailto:{{ event.contactEmail }}">{{
            event.contactEmail
            }}</a></p>
        <p class="mb-1 ms-2"><i class="bi bi-house"></i> <a class="ms-2" href="{{ event.url }}" target="_blank">{{
            event.url }}</a></p>
        <hr>
        <a href="{{ path('app_event_index') }}" class="btn btn-secondary" style="width: 10rem;">Back</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}