{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
<h1>Address index</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>LocationName</th>
      <th>StreetName</th>
      <th>StreetNumber</th>
      <th>ZipCode</th>
      <th>CityName</th>
      <th>CountryName</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for address in addresses %}
    <tr>
      <td>{{ address.id }}</td>
      <td>{{ address.locationName }}</td>
      <td>{{ address.streetName }}</td>
      <td>{{ address.streetNumber }}</td>
      <td>{{ address.zipCode }}</td>
      <td>{{ address.cityName }}</td>
      <td>{{ address.countryName }}</td>
      <td>
        <a href="{{ path('app_address_show', {'id': address.id}) }}">show</a>
        <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="7">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ path('app_address_new') }}">Create new</a>
{% endblock %}