{% extends 'base.html.twig' %}

{% block title %}Address{% endblock %}

{% block body %}
    <h1>Address</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>StreetName</th>
                <td>{{ address.streetName }}</td>
            </tr>
            <tr>
                <th>StreetNumber</th>
                <td>{{ address.streetNumber }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ address.zipCode }}</td>
            </tr>
            <tr>
                <th>CityName</th>
                <td>{{ address.cityName }}</td>
            </tr>
            <tr>
                <th>CountryName</th>
                <td>{{ address.countryName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_address_index') }}">back to list</a>

    <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>

    {{ include('address/_delete_form.html.twig') }}
{% endblock %}
